.header_target{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;
    width: 90% ;
    margin: 0 auto;
}

@media only screen and (max-width: 768px){
    .header_target{
        padding: 3rem 0;

    }
}