.logo_target{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo_target {
    font-size: 1.3rem;
    color: var(--color-black);
    font-family: Arial, Helvetica, sans-serif;
}

.logo_icon {
    position: relative;
    margin-right: .6rem;
}

.logo_icon:nth-child(1) {
    width: 2.2rem ;
    height: 2.2rem;
    background-color: var(--color-black);
    border-radius: 50%;
}

.logo_icon_smal_circle {
    width: .7rem ;
    height: .7rem;
    background-color: var(--color-black);
    border-radius: 50%;
    position: absolute;
    right: -.5rem;
    top: -.5rem;
}


@media only screen and (max-width: 768px){
    
    .logo_target {
        font-size: 1rem;
    }
    
    .logo_icon {
        margin-right: .5rem;
    }
    
    .logo_icon:nth-child(1) {
        width: 1.5rem ;
        height: 1.5rem;
    }
    
    .logo_icon_smal_circle {
        width: .7rem ;
        height: .7rem;
        right: -.5rem;
        top: -.6rem;
    }
}

@media only screen and (max-width: 480px){
    
    .logo_target {
        font-size: .9rem;
    }
    
    .logo_icon {
        margin-right: .4rem;
    }
    
    .logo_icon:nth-child(1) {
        width: 1.4rem ;
        height: 1.4rem;
    }
    
    .logo_icon_smal_circle {
        width: .5rem ;
        height: .5rem;
        right: -.35rem;
        top: -.35rem;
    }
}

